<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>copyPasteApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F0EFD1C1F67AF1900F97754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F0EFD321F67AF1A00F97754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F0EFD3D1F67AF1A00F97754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
